<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuswx.spzx.product.mapper.ProductDetailsMapper">

    <resultMap id="productDetailsMap" type="com.fuswx.spzx.model.entity.product.ProductDetails" autoMapping="true" />

    <sql id="columns">
        id, product_id, image_urls, create_time, update_time, is_deleted
    </sql>

    <!-- productId获取商品详情信息 -->
    <select id="getByProductId" resultMap="productDetailsMap">
        select <include refid="columns" />
        from product_details
        where product_id = #{productId}
    </select>

</mapper>