<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuswx.spzx.manager.mapper.OrderInfoMapper">

    <!--统计前一天交易金额 -->
    <select id="selectOrderStatistics" resultType="com.fuswx.spzx.model.entity.order.OrderStatistics">
        select date_format(o.create_time, '%Y-%m-%d') as orderDate, sum(o.total_amount) as totalAmount, count(o.id) as totalNum
        from order_info o
        where date_format(o.create_time, '%Y-%m-%d') = #{createTime}
        group by date_format(o.create_time, '%Y-%m-%d')
    </select>

</mapper>